*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    /* color: white; */
    height: 100px;
    background-color: #373644;
    display: flex;
}
.logo{
    /* border: solid red 1px; */
    color: white;
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 29px;
    padding-top: 32px;
}
.fa-regular{
    color: yellow;
    margin-right: 5px;
}
.nav-items{
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
    color: white;
}
.nav-items ul{
    display: flex;
    list-style: none;
    padding-top: 39px;
    padding-left: 35px;
   font-size: 19px;
}
.nav-items ul li a{
    margin: 8px;
    
}
.extra{
    
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.box{
    margin-right: 70px;
    padding: 5px;
} 

/* ################ second portion start ############################# */

.container{
    height: 600px;
    width: 100%;
    background-color: #373644;
    display: flex;
    padding-left: 8vw;
}
.con{
height: 100%;
width: 50%;
border: 2px double #373644;
}
.Im{
    font-size: 57px;
    color: wheat;
    /* text-align: center; */
    margin: 78px
}
.name{
    position: absolute;
    width: 466px;
    color: white;
    margin: -53px 0px 0px 78px;
    font-size: 29px;
    z-index: 20;
    margin-top: -10vh;
}
.name2{
  
    border-bottom: 6px solid yellow;
    width: 203px;
    margin-left: 84px;
    padding-bottom: 11px;

}

.para{
    width: 293px;
    border: 2px solid #373644;
    color: white;
    font-size: 18px;
    margin:  29px 0px 0px 78px;;
    line-height: 25px;
}
/* ##################### pic ############### */
.pic{
    position: absolute;
    top: 110px;
    right: 450px;
    z-index: 13;
  
}
.pic img{
    height: 560px;
    border-radius: 50%;
    position: relative;
    right: 57px;
    top: -18px;
}
/* ####################### background #################### */
.container2{
    
    display: block;
    width: 29%;
    /* border: 10px solid red; */
    padding-right: 51px;
    margin-left: 150px;
    margin-top: 101px;
    z-index: 14;
}
.graph{
    color: white;
    font-size: 20px;
    line-height: 30px;
}
.elements{
    display: block !important;
    margin: 24px 0px 0px 72px;
    
}
.showmore{
    color: yellow;
    font-size: 1.3rem;
    margin-top: -15vh;
}
.last{
    position: relative;
    top: 8px;
    height: 10px !important;
    left: -150px;}
/* .fa-arrow-right{
   position: absolute;
} */
.fa-facebook{
  margin-right: 10px;
  background: rgb(102, 102, 11);
  border-radius: 100%;
}
.fa-camera{
    margin-right: 10px;
    background: rgb(102, 102, 11);
    border-radius: 100%;

}.fa-twitter{
    margin-right: 10px;
    background: rgb(102, 102, 11);
    border-radius: 100%;
}
.fa-pinterest{
    background: rgb(102, 102, 11);
    border-radius: 100%;
}
/* ############################ last part ###################### */
.extra1{
    /* position: absolute; */
    display: flex;
    /* border: 2px solid red; */
    height: 15%;
    width: 83%;
    background: #363543;
    margin-left: 134px;
    position: absolute;
         top: 658px;
         z-index: 100;
         justify-content: space-around;
         align-items: center;
         box-shadow: -5px 5px 20px 5px black;
}
.a{
    height: 40%;
    width: 10%;
    background: #282834;
    /* border: 2px solid red; */
}
.container3{
    height: 700px;
    width: 100%;
    background: #282834;
    display: flex;
}
.f-items{
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    margin: auto;
}
.f-items h1{
    color: white;
    margin-top: 15vh;
    
    font-size: 70px;
    width: 75%; 
    text-align: center !important;
    margin-left: 42px;}
    .f-items p{
        color: white;
        width: 75%;
        margin-left: 87px;
        margin-top: 10px;
    }
    .f-items h2{
        color: #fff;
        font-size: 70px;
        margin-left: 6vw;
    }
    .f-items p{
        color: #fff;
        margin-top: 3vh;
    }
.l-items{
    height: 100%;
    width: 50%;
    margin-top: 4vh;
    /* border: 1px solid red; */
}
.number1{
    display: flex;
   /* background-color:  yellow; */
    font-size: 24px;
}
.number1 p{
    color: yellow;
}
.number2{
    display: flex;
}
.pi{
    height: 25%;
    width: 87%;
    border-bottom: 2px solid white;
    display: flex;
}
.pi img{
    margin-top: 70px;
    margin-left: 55px;
    height: 50%;
}
.pi h1{
    margin-top: 100px;
    margin-left: 24px;
    height: 50%;
    font-size: 33px;
    color: white;
}
.fa-arrow-right{
    margin-top: 130px;
    margin-left: 175px;
    height: 50%;
    font-size: 40px;
    color: yellow;
}
/* .ha{
    border-bottom: 1px solid white;
} */
.last-icon{
    color: #fff;
    margin-right: 2vw;
    margin-top: -4vh;
}
.fa-brands{
    color: #fff;
    margin-right: 2vw;
    margin-top: -4vh;
}
.wheel-icon{
    color: #fff;
    margin-top: -4vh;
}
/* ///////////////////////////////// no-more//////////////////////// */
.no-more{
    height: 300px;
    width: 100%;
    background-color: #282834;
    display: flex;
    justify-content: center;
    
}
.no1{
    height: 325px;
    width: 26%;
    background-color: #3d3f4f;
    /* border: 1px solid red; */
    position: relative;
    top: -1px;
    right: 7px;
    margin: 11px;
}
.no1 img{
   
    color: yellow;
    height: 79px;
    border-radius: 50px;
    margin-top: 33px;
    margin-left: 20px;
}
.no1 h1{
    color: white;
    font-size: 39px;
    margin-top: 5px;
    margin-left: 35px;
}
.no1 p{
    color: white;
    font-size: 24px;
    margin-top: 13px;
    margin-left: 38px;
    line-height: 30px;
}
.non{
    height:55px;
    width: 100%;
    background-color: #373644;
}